<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxau.mapper.SupplierMapper">

<!--    <select id="findByPage" resultType="com.jxau.entity.Supplier">-->
<!--        select * from supplier where 1=1-->
<!--            <choose>-->
<!--                <when test="condition !='' and condition != null">-->
<!--                    and name like concat('%',#{condition},'%')-->
<!--                </when>-->
<!--                <when test="condition !='' and condition != null">-->
<!--                    and contacts like concat('%',#{condition},'%')-->
<!--                </when>-->
<!--                <when test="condition !='' and condition != null">-->
<!--                    and tel like concat('%',#{condition},'%')-->
<!--                </when>-->
<!--                <otherwise>-->
<!--                    and info like concat('%',#{condition},'%')-->
<!--                </otherwise>-->
<!--            </choose>-->

<!--        limit #{start},#{rows}-->

<!--    </select>-->
<!--    <select id="findTotalCount" resultType="java.lang.Integer">-->
<!--        select count(*) from supplier where 1=1-->

<!--        <choose>-->
<!--            <when test="condition !='' and condition != null">-->
<!--                and name like concat('%',#{condition},'%')-->
<!--            </when>-->
<!--            <when test="condition !='' and condition != null">-->
<!--                and contacts like concat('%',#{condition},'%')-->
<!--            </when>-->
<!--            <when test="condition !='' and condition != null">-->
<!--                and tel like concat('%',#{condition},'%')-->
<!--            </when>-->
<!--            <otherwise>-->
<!--                and info like concat('%',#{condition},'%')-->
<!--            </otherwise>-->
<!--        </choose>-->
<!--    </select>-->

        <select id="findByPage" resultType="com.jxau.entity.Supplier">
            select * from supplier
                <where>
                    <if test="condition !='' and condition != null">
                        and name like concat('%',#{condition},'%')
                    </if>
                </where>
                limit #{start},#{rows}
        </select>
        <select id="findTotalCount" resultType="java.lang.Integer">
            select count(*) from supplier
            <where>
                <if test="condition !='' and condition != null">
                    and name like concat('%',#{condition},'%')
                </if>
            </where>
        </select>

<!--    <select id="findTotalCount" resultType="java.lang.Integer">-->
<!--        select count(*) from supplier-->
<!--            where name like concat('%',#{condition},'%')-->
<!--            or contacts like concat('%',#{condition},'%')-->
<!--            or tel like concat('%',#{condition},'%')-->
<!--            or info like concat('%',#{condition},'%')-->
<!--    </select>-->
<!--    <select id="findByPage" resultType="com.jxau.entity.Supplier">-->
<!--        select * from supplier-->
<!--           where name like concat('%',#{condition},'%')-->
<!--              or contacts like concat('%',#{condition},'%')-->
<!--              or tel like concat('%',#{condition},'%')-->
<!--              or info like concat('%',#{condition},'%')-->
<!--              limit #{start},#{rows}-->
<!--    </select>-->
</mapper>